@use '../styleVariables';

.sort_by_panel_container{
  display: flex;
  padding:15px 0;
  align-items: flex-end;
  height: 5vh;
  margin-bottom: 1vh;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: map-get(styleVariables.$breakpoints, "medium")) {
  .sort_by_panel_container {
    display: none;
  }
}