@use '../common/styleVariables';

.attempt_result_grid_panel_container {
  cursor: pointer;
  min-height: 70px;
  margin-bottom: 15px;
  border-radius: 22px;
  background: styleVariables.$lightBlueBgcColor;
  padding: 0 15px;
  transition: 0.45s cubic-bezier(.77,.77,.19,1.04);;

  &:hover {
    .attempt_result_grid_panel_text, .attempt_result_grid_panel_text_container {
      text-overflow: unset;
      white-space: unset;
      overflow: unset;
    }
  }
}

.attempt_result_grid_panel_top_container, .attempt_result_grid_panel_bottom_container {
  display: grid;
  max-height: 70px;
  transition: 0.45s cubic-bezier(.77,.77,.19,1.04);;
}

.attempt_result_grid_panel_top_container {
  grid-template-columns: 1fr 9fr 2fr;
}

.attempt_result_grid_panel_text, .attempt_result_grid_panel_quastion_value_text {
  color:styleVariables.$mainTextColor ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 70px;
  transition: 0.45s cubic-bezier(.77,.77,.19,1.04);;
}

.attempt_result_grid_panel_id_text {
  margin: auto;
}

.attempt_result_grid_panel_text_container {
  transition: 0.45s cubic-bezier(.77,.77,.19,1.04);;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.attempt_result_grid_panel_quastion_value_container {
  justify-items: left;
}

.attempt_result_grid_panel_id_text_passed{
  background-color: #C8EDA7;
  color: white;
  padding: 4px 19px;
  border-radius: 9px;
}

.attempt_result_grid_panel_id_text_failed{
  background-color: #E38C9B;
  color: white;
  padding: 4px 19px;
  border-radius: 9px;
}

.attempt_result_answers_container{
  max-height: 0;
  grid-column: 2;
  overflow: hidden;
  transition: 0.45s cubic-bezier(.77,.77,.19,1.04);;
}

.attempt_result_answer_container{
  display: flex;
  max-height: 45px;
  align-items: center;
  color:styleVariables.$mainTextColor ;
}

.attempt_result_answer_container:last-of-type{
  margin-bottom: 20px;
}

.attempt_result_correct_answer{
  color: #82A4F7;
}