.filter_panel_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 30px;
  gap: 20px;
}

#demo-simple-select{
  padding-left: 13px;
}

.add_exam_list_container{
  overflow: auto;
}

.browse_tab_divider{
  height: calc(100vh - 16vh - 8vh - 30px);
  display: grid;
  grid-template-columns: 5fr 2fr;
}