.exam_attempt_container{
  width:calc(100% - 10vw);
  height: 70vh;
  padding: 0 5vw;
  margin: 12vh auto auto;
}

.exam_attempt_category_container{
  font-size: 1.2rem;
  font-weight: 300;
}

.exam_question_title{
  width: 100%;
  font-size: 2rem;
  margin: 22px 0;
}

.exam_answers{
  p{
    font-weight: 300;
    font-family: 'Nunito', 'sans-serif';
    margin: 12px 5px;
  }
}

.exam_action_buttons{
  position: absolute;
  bottom:12vh;
}

.exam_action_button{
  margin-right: 20px !important;
}