@use '../common/styleVariables';

.main_grid_element_container{
  background: styleVariables.$lightBlueBgcColor;
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  height: 160px;
  transition: 0.3s;
  &:hover{
    height: 160px;
  }
}

.main_grid_element_container_top {
  display: grid;
  width: 100%;
  overflow:auto;
  height: 160px;
}

.single_grid_element_container{
  padding: 10px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:styleVariables.$mainTextColor;
  display: flex;
  align-items: center;
}

.main_grid_element {
  margin-left: 10px;
}

.single_grid_element_container_id{
    text-align: center;
    padding: 7px 15px;
    color:white;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.single_grid_element_container_text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.main_grid_element_container_bottom{
  display: grid;
  padding: 0;
  height: 80px;
}

.single_grid_element_bottom_icons_container{
  display: flex;
  align-items: center;
  text-align: center;
  margin:auto;
  width: 100%;
}

.single_grid_element_bottom_icons_text{
  margin-left: 10px;
}

.single_grid_element_container_bottom{
  padding: 10px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:styleVariables.$mainTextColor;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

@media screen and (max-width:map-get(styleVariables.$breakpoints, "phone")){
  .main_grid_element_container_top{
    grid-template-columns: 1fr 3fr !important;
  }
}